table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

#rootContainer{
    border: 1px groove slategray;
    border-radius: 5px;
    background: silver;
    margin-top: 4px;
}

#rootContainer .container {
    border: 2px solid #615960;
    border-radius: 5px;
    margin-bottom: 2px;
    background: #5f5d61;
}


th, td {
    padding: 10px;
    text-align: left;
    /*border-bottom: 1px solid #ddd;*/
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

