.container{
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.panel{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    font-size: 8px;
}

.openBtn{
    width: 2%;
    height: 10%;
    border: 1px solid gray;
    border-radius: 1px;
    background: #ffffff;
    align-self: center;
}
