{% extends 'index.html' %}
{% load static %}

{% block styles %}

    .text-color-secondary {
        color: #888;
    }
    
    .btn-secondary {
        background-color: transparent;
        color: #333;
        border-color: #333;
        font-family: Arial, sans-serif;
        transition: all 0.3s ease;
    }

    .btn-secondary:hover {
        background-color: #333;
        color: #fff;
    }

{% endblock %}

{% block content %}
    <a class="btn btn-secondary" href="/robots">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
    </a>

    <div class="main-content">
        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <img class="mg-fluid img-thumbnail" id="image-preview" src="" alt="Preview">
                {% for field in form %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    </div>
                {% endfor %}
        </form>

        <script>
            document.getElementById('image-input').addEventListener('change', function() {
                var file = this.files[0];
                var img = document.getElementById('image-preview');

                if (file) {
                    img.src = URL.createObjectURL(file);
                } else {
                    img.src = '';
                }
            });

            function handleFolderChange(event) {
                var files = event.target.files;
                var folderPath = files[0].webkitRelativePath.split('/')[0];
                document.getElementById('folder-form').folderPath.value = folderPath;
            }
        </script>
    </div>
{% endblock %}